<div class="user-box">
    <div class="picture"><img src="http://img.thehuxley.com/data/images/app/profile/thumb/<%= smallPhoto %>" alt="<%= name %>"></div>
    <div class="info">
        <ul>
            <li class="name"><a href="/huxley/profile/show/<%= id %>"><%= name %></a></li>
            <li class="institution"><%= institution.name %></li>
        </ul>
    </div>
</div>
