<td>
    <div class="group-name"><a href="#show/<%= id %>"><%= name %></a><span class="group-date"><%= moment(dateCreated).calendar()%></span></div>
    <div class="group-institution"><small class="muted"><%= institution.name %></small></div>
    <div class="group-description"><small style="color: #767676;"><%= description %></small></div>
</td>
dateCreated