<div class="user-box">
    <div class="position"><%= position %></div>
    <div class="info">
        <ul>
            <li class="name"><%= name %></li>
            <li class="institution"><%= institution %></li>
            <li class="score"><%= score %></li>
        </ul>
    </div>
    <div class="picture">
        <img src="http://img.thehuxley.com/data/images/app/profile/thumb/<%= image %>" alt="<%= name %>">
    </div>
</div>